@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Xin chào</h1>
    <p>Biết nhiều hơn với <a href="https://docs.microsoft.com/aspnet/core">cách lập trình web bằng ASP.NET Core</a>.</p>
</div>
